@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
	50% {
		opacity: 0.4;
		transform: scale(0);
		background-color: #26262617;
	}
}

@layer utilities {
	.from-gray-via-transparent-to-gray {
		background: rgb(0, 0, 0);
		background: linear-gradient(
			90deg,
			#26262610 0%,
			rgba(255, 255, 255, 0) 15%,
			rgba(255, 255, 255, 0) 85%,
			#26262610 100%
		);
	}
}
